<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>菜品分类管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="GroupManager">
    <meta name="author" content="xjk">

    <!-- Le styles -->
    <link href="http://fonts.googleapis.com/css?family=Oxygen|Marck+Script" rel="stylesheet" type="text/css">
    <link href="../../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../../assets/css/font-awesome.css" rel="stylesheet">
    <link href="../../assets/css/admin.css" rel="stylesheet">

    <!-- datatables -->
    <link rel="stylesheet" href="../../lib/datatables.net-bs/css/dataTables.bootstrap.min.css">


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

<div class="container">

    <div class="row">

        <div class="span2">

            <div class="main-left-col">

                <h1><i class="icon-eye-open icon-large"></i> YuShan</h1>

                <ul class="side-nav">

                    <li>
                        <a th:href="@{'/index/'+${merchantId}}"><i class="icon-home"></i> 仪表盘</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="collapse" data-target="#store-dropdown" href="#"><i
                                class="icon-info-sign"></i> 分类 <b class="caret"></b></a>
                        <ul id="store-dropdown" class="collapse">
                            <li><a th:each="cateogry,cateogryStat : ${categoryList}" th:href="@{'../../../merchant/' + ${merchantId}+'/food/'+${cateogry.categoryId}}"
                                   th:text="${cateogry.categoryName}"></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="collapse" data-target="#order-dropdown" href="#"><i
                                class="icon-info-sign"></i> 订单查询 <b class="caret"></b></a>
                        <ul id="order-dropdown" class="collapse">
                            <li><a href="">日订单查询</a></li>
                            <li><a href="">月订单查询</a></li>
                            <li><a href="">年订单查询</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a th:href="@{'../../page/groupmanager/'+${merchantId}}"><i class="icon-group"></i> 分类管理</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="collapse" data-target="#reports-dropdown" href="#"><i
                                class="icon-table"></i> 报表统计 <b class="caret"></b></a>
                        <ul id="reports-dropdown" class="collapse">

                        </ul>
                    </li>
                </ul>

            </div> <!-- end main-left-col -->

        </div> <!-- end span2 -->

        <div class="span10">

            <div class="secondary-masthead">

                <ul class="nav nav-pills pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" th:text="${merchantName}"><i
                                class="icon-user"></i> John Smith <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="profile.html">我的信息</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="breadcrumb">
                    <li>
                        <a href="#" th:text="${merchantName}">Admin</a> <span class="divider">/</span>
                    </li>
                    <li class="active">菜品分类管理</li>
                </ul>

            </div>

            <div class="row">
                <div class="span10">
                    <div class="page-header">
                        <button type="button" class="btn btn-primary" id="createCategory">添加菜品分类</button>
                        <i class="icon-group pull-right"></i>
                    </div>
                    <div class="span9">

                        <table class="table table-striped table-hover" id="group-manager-table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>菜品分类</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- 添加菜品分类 模态框 -->
            <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">添加</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">分类名称:&nbsp;&nbsp;</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control categoryName" name="categoryName"
                                               placeholder="请输入想要添加的分类名" value="" id="create-categoryName">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary create-sure">添加</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 编辑菜品分类 模态框 -->
            <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">编辑</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">分类名称:&nbsp;&nbsp;</label>
                                    <div class="col-sm-5">
                                        <input type="hidden" id="categoryId">
                                        <input type="text" class="form-control categoryName" name="categoryName"
                                               value="" id="edit-categoryName">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary edit-sure">修改</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <br/><br/><br/><br/><br/>
                <div class="span10 footer">

                    <p>&copy; 云端御膳 2019</p>

                </div>
            </div>
        </div> <!-- end span10 -->
        <!-- 获取商家id -->
        <p style="display: none" th:text="${merchantId}" id="merchantId"></p>
    </div> <!-- end row -->

</div> <!-- end container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/bootstrap.js"></script>
<script src="../../assets/js/excanvas.min.js"></script>
<script src="../../assets/js/jquery.flot.min.js"></script>
<script src="../../assets/js/jquery.flot.resize.js"></script>
<script src="../../lib/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="../../js/groupManager.js"></script>
</body>
</html>